@import './components/_variables';
@import './_styles';

main {
  margin: auto;
  min-height: 100vh;
  background: $color-grey;

  section {
    max-width: $maxW;
  }

  .filters {

     .filter-item {
       width: 200px;
       //max-height: 300px;
       //overflow: hidden;
       //overflow-y: auto !important;

      .accordion-button {
        background-color: #fff !important;
        box-shadow: none !important;
      }
       .accordion-button:focus {
        border: 2px solid $color-yellow;
       }

       .search-ingredients-container {
         margin: 0 .5rem;
       }

       ul {
         position: relative;
         padding: .5rem;
       }
       input {
         border: 1px solid $color-grey-bis;
         padding: .5rem;
         margin: .5rem 0;
         border-radius: 3px;
         width: 100%;
         color: $color-grey-bis;
       }
       i {
         position: absolute;
         right: 20px;
         top: 20px;
         color: $color-grey-bis;
       }
       span {
         //margin: 1rem 0;
       }
     }
  }
}












header {
  height: 60vh;

  .header_content {
    height: 100%;
    width: 100%;
    background-image: url("../../spagheti.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include flex-col;
    justify-content: center;

    h1 {
      max-width: 60%;
      margin-bottom: 2rem;
    }
    .search-bar {
      position: relative;
      width: 70%;
      padding: .3rem;

      .search {
        width: 100%;
        font-size: 1.1em;
        padding: 1rem;
        border-radius: 10px;
        border: none;
      }
      button {
        position: absolute;
        right: 11px;
        top: 11px;
        height: 42px;
        width: 45px;
        border-radius: 10px;
        border: none;
        background: $color-dark;
        cursor: pointer;
      }
    }
  }
}

