// Variables //
$maxW: 1440px;

// Colors
$color-grey: #ededed;


// Fonts


// Transition speed
$fast: 0.3s ease;


// Mixins
@mixin flex-row () {
  display: flex;
  flex-direction: row;
  align-items: center;
}

